  
.footer {
    background: rgb(71, 22, 22);
    height: 80px;
    position: relative;
    color: #fff;
    overflow: auto;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    border-top: 2px solid rgb(250, 228, 228);
    border-bottom: 2px solid rgb(250, 228, 228);
}

.bottom {
    text-align: center;
    margin-top: 27px;
    margin-left: 10px
}